<!DOCTYPE html>
<html lang="fr" data-theme="lofi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "Linux Tiling Terminal Layout" }}</title>
  <link href="/styles/index.css" rel="stylesheet">
</head>
<body class="w-screen h-screen m-0 font-mono text-gray-100">

  <!-- Fond d'écran -->
  <div class="fixed inset-0 bg-cover bg-center" style="background-image: url('/assets/background.png'); z-index: -10;"></div>

    {{ content | safe }}
</body>
</html>


