---
layout: layouts/default.njk
---

{% import "partials/terminal_window.njk" as win %}

<div class="flex flex-col w-full h-auto min-h-[150px] md:min-h-[200px]">
{{ win.terminal_window(
    title=title or page.fileSlug | capitalize,
    content=content,
    classes="max-w-4xl w-full",
    path="~/site/" ~ page.fileSlug
) }}


</div>
