---
title: "Johanne Vincent's personnal page"
layout: layouts/default.njk
---

{% import "partials/terminal_window.njk" as win %}

{% if collections.about | length > 0 %}
  {% set about_content = collections.about[0].templateContent %}
{% else %}
  {% set about_content = "" %}
{% endif %}

{% if collections.research | length > 0 %}
  {% set research_content = collections.research[0].templateContent %}
{% else %}
  {% set research_content = "" %}
{% endif %}

{% if collections.teaching | length > 0 %}
  {% set teaching_content = collections.teaching[0].templateContent %}
{% else %}
  {% set teaching_content = "" %}
{% endif %}

{% if collections.publications | length > 0 %}
  {% set publications_content = collections.publications[0].templateContent %}
{% else %}
  {% set publications_content = "" %}
{% endif %}

{% if collections.recent_projects | length > 0 %}
  {% set recent_projects_content = collections.recent_projects[0].templateContent %}
{% else %}
  {% set recent_projects_content = "" %}
{% endif %}

<main class="grid grid-cols-1 md:grid-cols-3 gap-2 w-full min-h-screen p-2 max-w-screen overflow-x-hidden">


  <!-- About à gauche (grand) -->
  {{ win.terminal_window("About", about_content, "md:col-span-2 md:row-span-3 min-h-[200px]", "~/site/about") }}

  <!-- Research en haut à droite -->
  {{ win.terminal_window("Research", research_content, "min-h-[150px]", "~/site/research") }}

  <!-- Teaching en dessous de Research -->
  {{ win.terminal_window("Teaching", teaching_content, "min-h-[150px]", "~/site/teaching") }}

  <!-- Projets récents en dessous de Teaching -->
  {{ win.terminal_window("Current research projects", recent_projects_content, "min-h-[150px]", "~/site/projects") }}

  <!-- Publications en bas, prend toute la largeur -->
  {{ win.terminal_window("Publications", publications_content, "md:col-span-3 min-h-[200px]", "~/site/publications") }}

</main>


